<!DOCTYPE html>
<html>
<head>
    <title>Invitation page</title>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Invitation_script.js"></script>
</head>
<body>
    <form>
        <input type="hidden" id="Test_id" name="Test_id" value="@ViewBag.Test_Id"/>
        <label>Enter email addressess to invite</label>
        <br />
        <input type="text" id="invited_email" name="invited_email" /><br />
        <br />
        <button type="button" onclick="Invite_for_test();">Invite</button>
        <br /><br />
        <table id="Invitaion_table">
            <thead>
                <tr>
                    <td>Invitation Id</td>
                    <td>Test Id</td>
                    <td>User email</td>
                    <td>Invited date</td>
                </tr>
            </thead>
        </table>
    </form>
</body>
</html>
