<!DOCTYPE html>
<html>
<head>
    <title>Live Test</title>
    <link href="~/App_Start/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Timer.js"></script>
</head>
<body>
    <p id="Timer"></p>
    <button class="btn btn-primary" id="startbutton">Start</button>
</body>
</html>
