@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <form id="user_register_form" name="user_register_form">
        <label>First name</label><br />
        <input type="text" id="fname" name="fname" /><br />
        <br />
        <label>Last name</label><br />
        <input type="text" id="lname" name="lname" /><br />
        <br />
        <label>Email</label><br />
        <input type="email" id="email" name="email" /><br />
        <br />
        <label>Password</label><br />
        <input type="password" id="pwd" name="pwd" /><br />
        <br />
        <button type="submit">Register</button>
    </form>
</body>
</html>
